@charset "utf-8";

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body, html {
    background-color: white;
    width: 100vw;
}

header {
    height: 30px;
    background-color: blue; 
    display: flex;
    justify-content: space-between;
}

div.menu {
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: relative;
   top: 0px;
   width: 100vw;
   height: 45px;
   background-color: #3B538C;
}

div.menu-inicial {
   width: auto;
   background-color: #3B538C;
   font-family: Arial, Helvetica, sans-serif;
}

div.menu-inicial-acessibilidade > a.menu-acessibilidade {
   color: white;
   font-weight: bold;
   padding: 5px 10px;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 5px;
   background-color: #000000;
}

div.menu-inicial > a.menu-inicial-primario {
   color: white;
   font-weight: bold;
   padding: 5px 10px;
}

div.redes-sociais {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 80vw;
   margin: auto;
   padding: 20px;
}

div#brasao-div {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: auto;
}

div#texto > a {
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

div#texto > a > strong {
   font-size: 30px;
   font-weight: bolder;
   color: black;
}

img#logo-img {
   width: 130px;
}

div#brasao-div > a#brasao-igarata {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   justify-items: flex-end;
   font-size: 25px;

}

div#res {
   width: auto;
   color: #A29EAC;
   margin-left: 30px;
   font-size: 17px;
   font-weight: normal;
   font-family: Arial, Helvetica, sans-serif;

}

div#icone-logo {

}

div#icone-logo > a.logo > img {
   width: 40px;
   padding: 1px 5px;
}

div#pesquisa {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   justify-items: center;
}

div#pesquisa > input[type='search'] {
   width: 230px;
   height: 35px;
   border: 1px solid #C4C4C4;
   border-right: none;
   border-top-right-radius: none;
   border-bottom-right-radius: none;
   border-radius: 4px;
   text-align: left;
   font-weight: bold;
   font-size: 15px;
   padding: 10px;  
   display: inline;
   align-items: center;
   flex-direction: row;
}

div#pesquisa > span {
     font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 48;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: auto;
     margin-left: -2px;
     width: 40px;
     height: 35px;
     text-align: center;
     border: 0px solid #C4C4C4;
     background-color:#03A64A ;
     border-left: none;
   }

   div#pesquisa > span > a {
      color: white;
      text-decoration: none;
   }


div#diario {
   margin: auto;
}

div#diario > a {
   width: auto;
   padding: 10px 20px;
   color: white;
   background-color: #3B538C;
   font-size: 17px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 4px;

}

nav.opçoes {
   display: flex;
   justify-content: space-around;
   width: 80vw;
   margin: auto;
   padding: 20px;
}

section#imagem-de-fundo {
   width: 100vw;
   background-image: url(paisagem/fundo-topo-novo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

div.imagem-frente-fundo {
   width: 80%;
   height: 400px;
   position: relative;
   top: 5vh;
   z-index: 1;
   margin: auto;
   background-image: url(paisagem/igarata.png);
   background-repeat: no-repeat;
}

div.menu-secundario {
   margin: auto;
}

div.menu-secundario > ul {
   width: 80vw;
   display: block;
   position: relative;
   z-index: 1;
   columns: 3;
   list-style-type: none;
   margin: auto;
   margin-top: 50px;
   text-align: left;
   border-radius: 10px;

}

div.menu-secundario > ul > li {
  background-color: #3B538C;
  margin-bottom: 7px;
  border: none;
}

div.menu-secundario > ul > li > a {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-decoration: none;
}

article#container-noticias {
   background-color: white;
}

article#container-noticias > h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   padding: 10px;
   margin: 10px 130px;
}

aside.home-noticias {
 margin-top: 20px;
 margin-bottom: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 30px;
 padding-right: 30px;
}

article.list-item {
   background-color: #cae9e9;
   box-shadow: 0px 0px 5px black;
   border-bottom-right-radius: 25px;
   align-content: flex-start;
   grid-row: 10px;
   display: grid;
   margin-bottom: 30px;
}

div.box {
  display: grid;
  grid-template-columns: repeat(4);
  box-sizing: inherit;
}

div.box > img {
   width: 180px;
   height: 180px;
}

















 div#txtbusca {
    background-color: black;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: solid;
    height: 40px;
    width: 260px;
}

input[type='text'] {
   font-size: 15px;
   padding: 14px;
   border: 2px solid black;
   border-radius: 10px;
}

a {
    text-decoration: none;
}

div > a#diario {
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 140px;
    background-color: #1C3680;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center ;
}

 a.igarata {
    display: flex;
    padding: 30px;
    margin: -10px 200px 1px 75px;
    flex-direction: row;
    justify-content: left; 
}

a.redes {
   display: flex;
   align-items: center;
   flex-direction: row;
   padding: 10px; 
   margin: 1px 5px; 
}

a.caixa {
    color: #1C3680;
}

nav {
    background-color: transparent;
    margin: auto;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;  
}

nav.menu {
    background-color: transparent;
    padding: 20px;
    margin: -10px 60px 10px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a.caixa {
    color: #3B538C;
 }

 a:hover {
   text-decoration: underline;
   
}

div.submenu {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: auto;
    width: auto; 
}

div.sub a {
   color: white;
}

div.sub a:hover{
   text-decoration: underline;
}

div.sub {
     line-height: 60px;
     align-items: center;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 500;
     border: 10px solid transparent; 
        
}

div.sub > li {
    background-color: #178b6ad0;
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 20px;
}

article.imagem {
    width: 100%;
    background-color: transparent;
}

article > img.img {
    display: none;  
    padding: 10px;
    margin: 170px auto 70px auto;
    vertical-align: middle;
}

aside {
    background-color: white;
}

aside > h1 {
    text-align: left;
    padding: 20px 10px 10px 60px;
    margin: auto;
    color: #3B79BC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bolder;
    font-weight: 800;
}

aside > h1 > strong {
    color: #06BD89;
}

 p.texto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  background-color: #3B538C;
  color: white;
  padding: 10px;
 
}

div.teste {
   width: 260px;
   height: 260px;
   text-align: justify;
   color: black;
}

div.teste a {
   color: black;
}

div.teste a:hover {   
   text-decoration: none;
}

aside > div.noticias {
    display: flex;
    grid-template-columns: 50% 50%;
    padding: 20px;
    justify-content: space-around;
    align-items: center; 
    width: auto;
}

aside > div.noticias2 {
    margin-top: 40px;
    display: flex; 
    grid-template-columns: 50% 50%;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

aside > div.noticias :hover {
    border: none solid 1px;

}

aside > div.noticias2 :hover {
    border: none solid 1px;
}

section.turismo {
    background-color: #3B538C ;
}

section > img.covid {
    display: flex;
    align-items: center;
    padding: 60px;
    margin: auto;
}

section > img.banner {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: auto;
}

 div.banner-img {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;

}

div.banner123 {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

 div.foto {
    display: flex;
    text-align: center;
    justify-content: right;
    margin: 10px 180px 40px 10px;
    
 }

 p#galeria {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin-bottom: 40px;
    border-radius: 5px ;
    background-color: #06BD89;
    border: 1px solid transparent;
    width: 150px;
 }

 p#galeria a {
   color: white;
 }

 div.secretarias {
    display: flex;
    justify-content: space-around;   
 }

 div.h1 {
    background-color: white;
    color: #3B538C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
 }

 div.h1 a {
   color: #3B538C;
 }

 div.h1 a:hover {
   color: #3B538C;
   text-decoration: none;
 }

 div.secvideo {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 60px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin: auto;
 }

 iframe {
   border: 50px solid white;  
 }

strong {
    color: #06BD89;
 }

ul {
    display: block;
    list-style-type: none;
    columns: 2;
    width: 800px; 
 }

 li {
    line-height: 45px ;
    border: 1px solid black;
    padding: 10px;
 }

 li.tp {
    justify-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 60px;
 }

 div > li.tp {
    background-color: rgba(0, 128, 0, 0.805);
    border: 10px solid white;
    border-radius: 20px;
    color: white ;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
 }

 li.tp a {
   color: white;
 }

 li.tp a:hover {
   text-decoration: underline;
 }

 div.centro {
    width: 100%;
    background-color: white;
    display: flex;
 }

 div.img5 {
    display: flex;
    margin: auto;
    margin: 60px auto 60px auto; 
 }

 div.amarelo {
    background-color: #3B538C;
    width: 250px;
    display: flex;
    margin: 0px;
 }

 div.amarelo > img#amarelo {
    display: flex;
    padding: 2px ;
    margin-top: 33px;
 }

 div.amarelo > p#texto3 {
    display: flex;
    margin: 20px 30px 20px 5px;
    font-size: 31px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
 }

 div.amarelo > p#texto4 {
    display: flex;
    margin: 80px 30px 10px -115px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
 }

 footer {
    width: 100%;
    background-color: #3B538C;
    height: 340px; 
    }

 footer  h1 {
    font-size: 20px;
   }

 footer h4 {
    font-size: 16px;
    font-weight: bold;  
 }

 footer p {
    font-size: 16px;
 }

 div.favicon {
    display: flex;
    background-color: white;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: -70px;
    height: 9%;
 }

 div.footer {
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }

 div.cidade {
    line-height: 40px;
    padding: 20px;
    justify-content: space-around;
    margin: 1px 20px 10px 5px;
 }

 footer a {
    text-decoration: none;
    color: white;
 }

 footer a:hover {
    text-decoration: underline;
 }

 footer img {
   display: flex;
   margin: auto;
 }
